* {
    box-sizing: border-box;
}


/* Create three unequal columns that floats next to each other */

.column {
    float: left;
    /* padding: 10px; */
    height: 145px
    /* Should be removed. Only for demonstration */
}

.left {
    width: 5%;
}

.right {
    width: 5%;
    float: right;
}

.middle {
    width: 90%;
}

.centrecolumn {
    float: left;
    /* padding: 10px; */
    /* height: 145px */
    /* Should be removed. Only for demonstration */
}

.centreleft {
    width: 33%;
}

.centreright {
    width: 33%;
    float: right;
}

.centremiddle {
    width: 33%;
}


/* Stats parameters */

.bignum {
    text-align: center;
    font-size: 80%;
    font-weight: bold;
}

.stattxt {
    text-align: center;
    font-size: 65%;
    font-weight: bold;
}


/* Container for skill bars */

.container {
    width: 100%;
    /* Full width */
    background-color: rgb(113, 161, 165);
    /* Grey background */
}

.skills {
    text-align: right;
    /* Right-align text */
    padding: 1px;
    /* Add some padding */
    color: white;
    /* White text color */
}


/* Today Values 
Minimum percentage to show is 30% any lower seems to break it */

.firsttime {
    width: 90%;
    background-color: rgb(2, 33, 36);
}

.secondtime {
    width: 65%;
    background-color: rgb(2, 33, 36);
}

.thirdtime {
    width: 70%;
    background-color: rgb(2, 33, 36);
}

.fourthtime {
    width: 35%;
    background-color: rgb(2, 33, 36);
}

.fifthtime {
    width: 100%;
    background-color: rgb(2, 33, 36);
}


/* Yesterday Values
Minimum percentage to show is 30% any lower seems to break it */

.firsttimey {
    width: 100%;
    background-color: rgb(33, 50, 51);
}

.secondtimey {
    width: 40%;
    background-color: rgb(33, 50, 51);
}

.thirdtimey {
    width: 80%;
    background-color: rgb(33, 50, 51);
}

.fourthtimey {
    width: 35%;
    background-color: rgb(33, 50, 51);
}

.fifthtimey {
    width: 70%;
    background-color: rgb(33, 50, 51);
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}