* {
    box-sizing: border-box;
}


/* Create three unequal columns that floats next to each other */

.column {
    float: left;
    /* padding: 10px; */
    height: 320px
    /* Should be removed. Only for demonstration */
}

.left {
    width: 2%;
    border-top: 1px solix rgb(113, 143, 146);
    background-color: rgb(113, 143, 146);
}

.right {
    width: 8%;
    border-top: 1px solix rgb(113, 143, 146);
    /* background-color: rgb(14, 43, 46); */
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(114, 113, 113)), to(rgb(56, 56, 56)));
}

.middle {
    width: 90%;
    border-top: 1px solix rgb(113, 143, 146);
}


/* Container for skill bars */

.container {
    width: 100%;
    /* Full width */
    background-color: rgb(113, 161, 165);
    /* Grey background */
}

.skills {
    text-align: right;
    /* Right-align text */
    padding: 10px;
    /* Add some padding */
    color: white;
    /* White text color */
}

.html {
    width: 90%;
    background-color: rgb(2, 33, 36);
}


/* Green */

.css {
    width: 80%;
    background-color: rgb(2, 33, 36);
}


/* Blue */

.js {
    width: 65%;
    background-color: rgb(2, 33, 36);
}


/* Red */

.php {
    width: 60%;
    background-color: rgb(2, 33, 36);
}


/* Dark Grey */


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}